@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*, body {
  font-family: "Roboto", sans-serif;
}

body, html {
  cursor: url(../img/auc_simbol02.png), url(../img/auc_simbol02.png), auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Navigaton bullets styles
  * --------------------------------------- */
#pp-nav {
  right: 80px !important;
}

.pp-viewing-page1 #pp-nav li .active span {
  border: 2px solid white !important;
  background: none !important;
}
.pp-viewing-page1 #pp-nav span,
.pp-viewing-page1 .pp-slidesNav span {
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
}

#pp-nav li {
  margin: 0;
  margin-bottom: 20px;
  width: 14px;
  height: 14px;
}
#pp-nav li span {
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
}
#pp-nav li .active span {
  border: 2px solid #91cbff !important;
  background: none !important;
}

#pp-nav span,
.pp-slidesNav span {
  border: 2px solid rgba(145, 203, 255, 0.3) !important;
}

/* Sections
   * --------------------------------------- */
#section1 {
  background: url(../img/bg01.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#section4 {
  background: url(../img/bg02.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#section5 {
  background: url(../img/bg03.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section .content {
  top: 100%;
  position: absolute;
  left: 0;
}

.section .header {
  padding-top: 150px;
}

/* Intro texts
   * --------------------------------------- */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
  max-width: calc(100% - 160px);
  padding-left: 150px;
}
.container > .intro h2 {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
}
.container > .intro ul > li {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.container02 {
  max-width: 1920px;
  padding-left: 15px;
}
.container02 > .intro > .row {
  justify-content: center;
  align-items: center;
}
.container02 > .intro > .row h2 {
  font-size: 45px;
  color: #6a6a6a;
  margin-bottom: 40px;
}
.container02 > .intro > .row img {
  max-width: 100%;
}
.container02 > .intro > .row > div > ul {
  margin-bottom: 25px;
}
.container02 > .intro > .row > div > ul > li {
  font-size: 16px;
  font-weight: 400;
  color: #6a6a6a;
  letter-spacing: 1.5px;
}
.container02 > .intro > .row button {
  outline: none;
  cursor: pointer;
  margin-top: 15px;
  background: linear-gradient(90deg, #5c13e5 0%, #8c18df 100%);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 215px;
  height: 60px;
  border-radius: 30px;
  border: none;
  letter-spacing: 2px;
}
.container02 > .intro > .row button > small {
  display: block;
  letter-spacing: 0.8px;
  font-size: 12px;
  font-weight: 300;
  line-height: 60%;
  margin-top: 6px;
}

#section3 .intro img {
  max-width: 100%;
}
#section3 .intro h2 {
  font-size: 35px;
  font-weight: bold;
  color: #4977ef;
  margin-top: 60px;
  margin-bottom: 40px;
}
#section3 .intro ul > li {
  font-size: 16px;
  font-weight: 300;
  color: #6a6a6a;
}

@media (min-width: 1655px) {
  #section4 .col-xl-3 {
    flex: 0 0 calc(25% - 105px);
    max-width: 0 0 calc(25% - 105px);
  }
}
@media (max-width: 1655px) {
  #section4 .col-xl-3 {
    flex: 0 0 calc(50% - 35px);
    max-width: 580px;
    margin-bottom: 15px;
  }
  #section4 .last_a {
    display: none;
    overflow: hidden;
  }
  #section4 > .container {
    overflow-y: scroll;
    height: 100%;
    padding-top: 160px;
    padding-bottom: 100px;
  }
}
#section4 > .container02 .intro img {
  max-width: 100%;
}
#section4 > .container02 .intro h2 {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 120px;
}
#section4 > .container02 .intro .col-xl-3 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 50px 30px;
  padding-top: 80px;
  color: #fff;
}
#section4 > .container02 .intro .col-xl-3 .pto10 {
  padding-top: 20px;
  padding-bottom: 25px;
}
#section4 > .container02 .intro .col-xl-3 .pto10_02 {
  padding-top: 10px;
}
#section4 > .container02 .intro .col-xl-3 .pt10 {
  padding-top: 10px;
  padding-bottom: 25px;
}
#section4 > .container02 .intro .col-xl-3 .pt20 {
  padding-top: 20px;
  padding-bottom: 35px;
}
#section4 > .container02 .intro .col-xl-3 ul {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#section4 > .container02 .intro .col-xl-3 ul.border-none {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
#section4 > .container02 .intro .col-xl-3 ul li {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: normal;
  color: #fff;
  line-height: 20px;
}
#section4 > .container02 .intro .col-xl-3 > span {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95px;
  height: 95px;
  border: 1px solid #ffd05a;
  background-color: #f9b600;
  color: #fff;
  border-radius: 47.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  font-size: 32px;
  font-weight: 500;
}
#section4 > .container02 .intro .col-xl-3 > span > small {
  font-size: 16px;
  font-weight: 500;
  line-height: 0.1;
  margin-top: 15px;
  display: block;
}
#section4 > .container02 .intro .arrow {
  padding: 0 25px;
  max-width: 70px;
}

#section5 .container {
  padding-bottom: 30px;
}
#section5 .intro img {
  max-width: 100%;
}
#section5 .intro h2 {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 35px;
}
#section5 .intro ul {
  margin-bottom: 105px;
}
#section5 .intro ul > li {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
#section5 .intro .partWrap {
  max-width: 1560px;
  padding: 0 80px;
  width: 100%;
}
#section5 .intro .partWrap > div {
  background: #fff;
  border-radius: 20px;
  padding: 50px 55px;
}
#section5 .intro .partWrap > div:first-child {
  margin-right: 50px;
}
#section5 .intro .partWrap > div.col-lg-7 {
  flex: 730px;
  position: relative;
}
#section5 .intro .partWrap > div.col-lg-7 {
  flex: calc(100% - 780px);
  position: relative;
}
#section5 .intro .partWrap > div > span {
  top: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffd05a;
  background-color: #f9b600;
  color: #fff;
  width: 109px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 35px;
  font-size: 25PX;
  font-weight: 500;
  display: block;
  letter-spacing: -0.5px;
}

#section4 .intro {
  color: #000;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #313131;
  color: #95968d;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

/* Content page
   * --------------------------------------- */
.header {
  padding-top: 80px;
  text-align: center;
}

.header h1 {
  font-size: 5em;
  font-weight: bold;
  color: #fff;
}

.header p {
  color: #f2f2f2;
  font-size: 1.7em;
}

.page {
  width: 80%;
  margin: 60px auto;
  background: white;
  padding: 60px;
  /* Safari<=5 Android<=3 */
  /* <=28 */
  box-sizing: border-box;
}

.page p {
  font-style: 12px;
  margin: 20px 0 0 0;
  line-height: 1.35em;
  color: #333;
}

/* Menu
   * --------------------------------------- */
.dropdown-menu {
  min-width: 80px;
}

.pp-viewing-page1 .pp-tooltip {
  color: #fff !important;
}

.pp-viewing-page1 .navbar {
  background-color: rgba(33, 31, 39, 0.5) !important;
}
.pp-viewing-page1 .navbar .navbar-collapse .navbar-nav > li .active {
  color: #fff !important;
  font-weight: bold;
}
.pp-viewing-page1 .navbar .navbar-collapse .navbar-nav > li a {
  color: #fafafa !important;
  font-size: 16px;
  padding: 0 13px;
}
.pp-viewing-page1 .navbar .navbar-collapse .navbar-nav > li a > span {
  position: relative;
  padding-left: 7px;
  margin-left: 7px;
}
.pp-viewing-page1 .navbar .navbar-collapse .navbar-nav > li a > span::before {
  position: absolute;
  background-color: #fff;
  content: "";
  width: 2.5px;
  height: 2px;
  top: 50%;
  margin-top: -1.5px;
  left: -1px;
}
.pp-viewing-page1 .navbar .navbar-toggler i {
  color: #fff;
}
.pp-viewing-page1 .navbar .logo_w {
  display: block;
}
.pp-viewing-page1 .navbar .logo_c {
  display: none;
  overflow: hidden;
}

.pp-viewing-page4 .navbar {
  background: none !important;
}
.pp-viewing-page4 .navbar .navbar-collapse .navbar-nav > li .active {
  color: #fff !important;
  font-weight: bold;
}
.pp-viewing-page4 .navbar .navbar-collapse .navbar-nav > li a {
  color: #fafafa !important;
  font-size: 16px;
  padding: 0 13px;
}
.pp-viewing-page4 .navbar .navbar-collapse .navbar-nav > li a > span {
  position: relative;
  padding-left: 7px;
  margin-left: 7px;
}
.pp-viewing-page4 .navbar .navbar-collapse .navbar-nav > li a > span::before {
  position: absolute;
  background-color: #fff;
  content: "";
  width: 2.5px;
  height: 2px;
  top: 50%;
  margin-top: -1.5px;
  left: -1px;
}
.pp-viewing-page4 .navbar .navbar-toggler i {
  color: #fff;
}
.pp-viewing-page4 .navbar .logo_w {
  display: block;
}
.pp-viewing-page4 .navbar .logo_c {
  display: none;
  overflow: hidden;
}

.pp-tooltip {
  color: #a6d4fe;
}

.navbar {
  padding: 20px 80px;
  background-color: #fafafa;
}
.navbar .navbar-toggler {
  outline: none;
}
.navbar .navbar-toggler i {
  color: #6a6a6a;
  font-size: 2rem;
  font-weight: 300;
}
.navbar .navbar-brand {
  padding: 0;
}
.navbar .navbar-brand > img {
  height: 32px;
}
.navbar .navbar-collapse {
  justify-content: flex-end;
}
.navbar .navbar-collapse .navbar-nav > li:first-child > a {
  margin-left: 0;
}
.navbar .navbar-collapse .navbar-nav > li:last-child > a {
  margin-right: 30px;
}
.navbar .navbar-collapse .navbar-nav > li .active {
  color: #4977ef;
  font-weight: bold;
}
.navbar .navbar-collapse .navbar-nav > li a {
  color: #6a6a6a;
  font-size: 16px;
  margin: 0 13px;
  padding: 0 !important;
}
.navbar .navbar-collapse .navbar-nav > li a > span {
  position: relative;
  padding-left: 7px;
  margin-left: 7px;
}
.navbar .navbar-collapse .navbar-nav > li a > span::before {
  position: absolute;
  background-color: #6a6a6a;
  content: "";
  width: 2.5px;
  height: 2px;
  top: 50%;
  margin-top: -1.5px;
  left: -1px;
}
.navbar .logo_c {
  display: block;
}
.navbar .logo_w {
  display: none;
  overflow: hidden;
}
.navbar .dropdown > button {
  background-color: #fff !important;
  color: #6a6a6a !important;
  font-weight: 300;
  letter-spacing: 1px;
  box-shadow: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 4px 12px;
}
.navbar .dropdown > button::after {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 0;
}
.navbar .dropdown > .dropdown-menu {
  min-width: 89px;
  border-radius: 10px;
}
.navbar .dropdown > .dropdown-menu .dropdown-item.active, .navbar .dropdown > .dropdown-menu .dropdown-item:active {
  color: #6a6a6a;
  text-decoration: none;
  background-color: #f8f9fa;
}

#pagepiling02 > #section1 {
  background: url(../img/bg04.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#pagepiling02 > #section2 {
  background: url(../img/bg05.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#pagepiling02 > #section3 {
  background: url(../img/bg07.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.aucWrap #pagepiling02 > #section1 > .container {
  max-width: 1400px;
  flex: 1400px;
}
.aucWrap #pagepiling02 > #section1 > .container .row {
  flex-direction: row-reverse;
}
.aucWrap #pagepiling02 > #section1 > .container .row > div:first-child {
  max-width: 515px;
}
.aucWrap #pagepiling02 > #section1 > .container .row > div:first-child h2 {
  color: #4977ef;
  margin-bottom: 35px;
}
.aucWrap #pagepiling02 > #section1 > .container .row > div:last-child {
  margin-right: 130px;
  max-width: calc(100% - 645px);
}
.aucWrap #pagepiling02 > #section2 .container {
  padding-left: 220px;
}
.aucWrap #pagepiling02 > #section2 .container .row > div h2 {
  color: #4977ef;
  margin-bottom: 32px;
}
.aucWrap #pagepiling02 > #section2 .container .row > div ul {
  margin-bottom: 75px;
}
.aucWrap #pagepiling02 > #section2 .container .row > div ul > li {
  margin-bottom: 5px;
}
.aucWrap #pagepiling02 > #section2 .container .row > div:last-child {
  max-width: 780px;
  margin-right: auto;
}
.aucWrap #pagepiling02 > #section2 .container .row > div:last-child > div {
  padding: 50px;
  border-radius: 25px;
  background: linear-gradient(90deg, #93b0f9 0%, #b687fc 100%);
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border: 1.5px;
  background-clip: padding-box;
  border: solid 1.5px transparent;
}
.aucWrap #pagepiling02 > #section2 .container .row > div:last-child > div > h3 {
  font-size: 23px;
  color: #fff;
  line-height: 30px;
  margin-bottom: 40px;
}
.aucWrap #pagepiling02 > #section2 .container .row > div:last-child > div:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1.5px;
  border-radius: inherit;
  background: linear-gradient(to right top, #61c5f8, #20b3ff, #2e9aff, #7479ff, #b241fc);
}
.aucWrap #pagepiling02 > #section2 .container .row > div:last-child > div > ul {
  margin-bottom: 0;
}
.aucWrap #pagepiling02 > #section2 .container .row > div:last-child > div > ul > li {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.aucWrap #pagepiling02 > #section2 .container .row > div:last-child > div > ul > li:last-child {
  margin-bottom: 0;
}
.aucWrap #pagepiling02 > #section2 .container .row > div:last-child > div > ul > li > p {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background: url(../img/num_icon.png);
  background-size: 50px;
  display: block;
  margin-bottom: 0;
  padding: 0 19px;
  font-size: 21px;
  font-weight: 400;
  margin-right: 20px;
}
.aucWrap #pagepiling02 > #section2 .container .row > div:last-child > div > ul > li > div {
  font-size: 15px;
  font-weight: 400;
}
.aucWrap .navbar {
  background-color: #fafafa !important;
}
.aucWrap .navbar .navbar-collapse .navbar-nav > li:first-child > a {
  margin-left: 0;
}
.aucWrap .navbar .navbar-collapse .navbar-nav > li:last-child > a {
  margin-right: 30px;
}
.aucWrap .navbar .navbar-collapse .navbar-nav > li .active {
  color: #6a6a6a !important;
  font-weight: bold;
}
.aucWrap .navbar .navbar-collapse .navbar-nav > li a {
  color: #6a6a6a !important;
  font-size: 16px;
  margin: 0 13px;
  padding: 0 !important;
}
.aucWrap .navbar .navbar-collapse .navbar-nav > li a > span {
  position: relative;
  padding-left: 7px;
  margin-left: 7px;
}
.aucWrap .navbar .navbar-collapse .navbar-nav > li a > span::before {
  position: absolute;
  background-color: #6a6a6a;
  content: "";
  width: 2.5px;
  height: 2px;
  top: 50%;
  margin-top: -1.5px;
  left: -1px;
}
.aucWrap .navbar .logo_c {
  display: block;
}
.aucWrap .navbar .logo_w {
  display: none;
  overflow: hidden;
}
.aucWrap .navbar-toggler i {
  color: #6a6a6a;
}
.aucWrap #pp-nav li {
  margin: 0;
  margin-bottom: 20px;
  width: 14px;
  height: 14px;
}
.aucWrap #pp-nav li span {
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
}
.aucWrap #pp-nav li .active span {
  border: 2px solid #91cbff !important;
  background: none !important;
}
.aucWrap #pp-nav span,
.aucWrap .pp-slidesNav span {
  border: 2px solid rgba(145, 203, 255, 0.3) !important;
}
.aucWrap #section3 .container {
  max-width: 1425px;
  color: #fff;
}
.aucWrap #section3 .container .row > div:first-child {
  margin-right: 108px;
  max-width: calc(100% - 723px);
}
.aucWrap #section3 .container .row > div:first-child img {
  width: 100%;
}
.aucWrap #section3 .container .row > div:last-child {
  max-width: 615px;
  color: #fff;
}
.aucWrap #section3 .container .row > div:last-child h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 32px;
}
.aucWrap #section3 .container .row > div:last-child ul {
  margin-bottom: 35px;
}
.aucWrap #section3 .container .row > div:last-child ul li {
  color: #fff;
}

.pp-viewing-page03 > .navbar {
  background: none !important;
}
.pp-viewing-page03 > .navbar .navbar-collapse .navbar-nav > li:first-child > a {
  margin-left: 0;
}
.pp-viewing-page03 > .navbar .navbar-collapse .navbar-nav > li:last-child > a {
  margin-right: 30px;
}
.pp-viewing-page03 > .navbar .navbar-collapse .navbar-nav > li .active {
  color: #fff !important;
  font-weight: bold;
}
.pp-viewing-page03 > .navbar .navbar-collapse .navbar-nav > li a {
  color: #fff !important;
  font-size: 16px;
  margin: 0 13px;
  padding: 0 !important;
}
.pp-viewing-page03 > .navbar .navbar-collapse .navbar-nav > li a > span {
  position: relative;
  padding-left: 7px;
  margin-left: 7px;
}
.pp-viewing-page03 > .navbar .navbar-collapse .navbar-nav > li a > span::before {
  position: absolute;
  background-color: #fff;
  content: "";
  width: 2.5px;
  height: 2px;
  top: 50%;
  margin-top: -1.5px;
  left: -1px;
}
.pp-viewing-page03 > .navbar .logo_c {
  display: none;
  overflow: hidden;
}
.pp-viewing-page03 > .navbar .logo_w {
  display: block;
}
.pp-viewing-page03 .navbar-toggler i {
  color: #fff;
}

@media (min-width: 992px) {
  .mobile_lang {
    display: none !important;
    overflow: hidden;
  }
}
@media (max-width: 1565px) and (min-width: 1200px) {
  .aboutWrap {
    padding-right: 110px;
  }

  .aboutImg {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .aboutWrap {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}
@media (max-width: 1465px) {
  .aucWrap #pagepiling02 > #section2 .container {
    padding: 0 80px;
  }
  .aucWrap #pagepiling02 > #section2 .container .row > div:first-child ul {
    margin-bottom: 45 px;
  }
  .aucWrap #pagepiling02 > #section2 .container .row > div:last-child {
    margin: 0 auto;
  }
  .aucWrap #pagepiling02 > #section2 .container .row > div:last-child ul li {
    margin-bottom: 15px !important;
  }
  .aucWrap #pagepiling02 > #section2 .container .row > div:last-child ul li div {
    text-align: left;
  }
  .aucWrap #pagepiling02 > #section2 .container .col-12 {
    text-align: center;
  }
}
@media (max-width: 1425px) {
  .aucWrap #pagepiling02 > #section3 > .container {
    padding: 0 80px;
  }
  .aucWrap #pagepiling02 > #section3 > .container .row > div:first-child {
    margin-right: 60px;
    max-width: calc(100% - 675px);
  }
}
@media (max-width: 1400px) {
  .aucWrap #pagepiling02 > #section1 > .container {
    padding: 0 80px;
  }
  .aucWrap #pagepiling02 > #section1 > .container .row {
    flex-direction: row-reverse;
  }
  .aucWrap #pagepiling02 > #section1 > .container .row > div:first-child {
    max-width: 508px;
    text-align: left;
  }
  .aucWrap #pagepiling02 > #section1 > .container .row > div:first-child h2 {
    margin-bottom: 20px;
  }
  .aucWrap #pagepiling02 > #section1 > .container .row > div:last-child {
    margin-right: 50px;
    max-width: calc(100% - 558px);
  }
}
@media (max-width: 1360px) {
  .aucWrap #pagepiling02 > #section3 > .container .row > div:first-child {
    margin-right: 25px;
    max-width: calc(100% - 525px);
  }
  .aucWrap #pagepiling02 > #section3 > .container .row > div:last-child {
    max-width: 500px;
    text-align: left;
  }
}
@media (max-width: 1290px) {
  #section4 > .container02 .intro .row {
    margin: 0 15px;
  }

  .aucWrap #pagepiling02 > #section3 > .container {
    padding: 0 80px;
  }
  .aucWrap #pagepiling02 > #section3 > .container .row > div:first-child {
    margin-right: 60px;
    max-width: calc(50% - 30px);
  }
  .aucWrap #pagepiling02 > #section3 > .container .row > div:last-child {
    max-width: calc(50% - 30px);
    width: calc(50% - 30px);
  }
}
@media (max-width: 1200px) {
  .container {
    padding-left: 15px;
    text-align: center;
  }

  .aboutImg {
    margin-bottom: 45px;
  }

  #section3 .intro img {
    width: 80%;
  }

  #section2 .intro img {
    width: 80%;
    max-width: 450px;
  }

  .aucWrap #pagepiling02 > #section3 > .container {
    padding: 0 80px;
  }
  .aucWrap #pagepiling02 > #section3 > .container .row > div:first-child {
    margin-right: 30px;
    max-width: calc(50% - 15px);
  }
  .aucWrap #pagepiling02 > #section3 > .container .row > div:last-child {
    max-width: calc(50% - 15px);
    width: calc(50% - 15px);
  }
}
@media (max-height: 1140px) {
  .section {
    overflow-y: scroll;
    height: 100%;
  }

  #section2 > .container02 {
    padding-top: 150px;
  }
}
@media (max-height: 1040px) {
  #section2 > .container02 {
    padding-top: 200px;
  }
}
@media (max-height: 980px) {
  #section2 > .container02 {
    padding-top: 300px;
  }
}
@media (max-height: 880px) {
  #section2 > .container02 {
    padding-top: 400px;
  }
}
@media (max-height: 780px) {
  #section1 > .container {
    padding-top: 100px;
  }

  #section2 > .container02 {
    padding-top: 500px;
  }

  #section3 > .container02 {
    padding-top: 100px;
  }
}
@media (max-height: 690px) {
  #section2 > .container02 {
    padding-top: 600px;
  }
}
@media (max-height: 580px) {
  #section2 > .container02 {
    padding-top: 700px;
  }
}
@media (max-width: 991px) {
  .navbar-collapse .nav-item {
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .navbar-collapse .nav-item > a {
    margin: 0 !important;
  }
  .navbar-collapse .mobile_lang {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  #myMenu {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .navbar-toggler {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .pc_lang {
    display: none !important;
    overflow: hidden;
  }

  .navbar {
    padding: 0;
    box-shadow: 0px 3px 5px 0px rgba(106, 106, 106, 0.05);
  }

  .container {
    max-width: 100%;
    padding: 20px;
    padding-top: 30px;
  }

  .partWrap {
    padding: 0 15px !important;
    max-width: 80% !important;
  }
  .partWrap > div {
    margin-right: 0 !important;
  }
  .partWrap > div:last-child {
    margin-top: 40px;
  }

  .aucWrap #pagepiling02 > #section1 > .container {
    padding: 0 20px;
  }
  .aucWrap #pagepiling02 > #section1 > .container .row {
    margin: 0;
    flex-direction: row;
  }
  .aucWrap #pagepiling02 > #section1 > .container .row > div {
    max-width: 100% !important;
    flex: 100%;
    text-align: center !important;
  }
  .aucWrap #pagepiling02 > #section1 > .container .row > div:first-child {
    margin-bottom: 50px;
  }
  .aucWrap #pagepiling02 > #section1 > .container .row > div:last-child {
    margin-right: 0;
  }
  .aucWrap #pagepiling02 > #section1 > .container .row > div:last-child > img {
    max-width: 550px;
  }
  .aucWrap #pagepiling02 > #section2 .container {
    padding: 0 20px;
  }
  .aucWrap #pagepiling02 > #section3 .container {
    padding: 0 20px;
  }
  .aucWrap #pagepiling02 > #section3 .container .row {
    flex-direction: column-reverse;
  }
  .aucWrap #pagepiling02 > #section3 .container .row ul {
    margin-bottom: 15px;
  }
  .aucWrap #pagepiling02 > #section3 .container .row > div:first-child {
    margin: 0;
    max-width: 60%;
    margin-top: 30px;
  }
  .aucWrap #pagepiling02 > #section3 .container .row > div:last-child {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 991px) {
  #pp-nav {
    display: none;
    overflow: hidden;
  }
}
@media (max-width: 760px) {
  .aucWrap #pagepiling02 > #section3 .container .row > div:first-child {
    max-width: 80%;
  }
  .aucWrap #pagepiling02 > #section3 .container .row > div:first-child > img {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .aucWrap #pagepiling02 > #section1 > .container .row > div:last-child > img {
    max-width: 90%;
    width: 100%;
  }
  .aucWrap #pagepiling02 > #section3 .container .row > div:first-child {
    max-width: 100%;
  }
  .aucWrap #pagepiling02 > #section3 .container .row > div:first-child > img {
    width: 100%;
  }
}
@media (max-width: 690px) {
  .container02 > .intro > .row > div > ul {
    margin-bottom: 15px;
  }

  .aboutImg {
    margin-bottom: 0;
  }

  .container02 > .intro > .row h2 {
    margin-top: 30px !important;
    margin-bottom: 15px !important;
  }

  #section4 > .container02 .intro h2 {
    margin-bottom: 80px !important;
  }
}
@media (max-width: 655px) {
  #section4 > .container02 .intro .col-xl-3 {
    flex: 100%;
    max-width: 100%;
  }

  .arrow {
    display: none;
    overflow: hidden;
  }
}
@media (max-width: 472px) {
  .container02 > .intro > .row button {
    margin: 0 !important;
    margin-top: 5px !important;
    width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */